@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0px;
}

#Informacion{
    transform: translateX(900px);
    transition: transform 0.5s ease-in-out;
}
#menu-ops{
    transform: translateX(900px);
    transition: transform 0.5s ease-in-out;
}
#formulario{
    left: 20%;
    top: 20%;
    transform: translateY(-1000px);
    transition: transform 0.5s ease-in-out;
}
.contenedor-form{
    height: 100vh; 
    width: 40%;
}
.contenedor-img{
    height: 100vh;
    width: 60%;
}
.form{
    width: 60%;
}

@media (max-width: 676px) {
    #formulario {
        width: 95% !important;
        height: 80vh !important;
        left: 2.5%;
        top: 10%;
    }
    .formulario-conte{
        flex-direction: column;
    }
    .formulario-conte .div-1{
        width: 90%;
        height: 25vh;
    }
    .formulario-conte .div-2{
        width: 100%;
        justify-content: center;
        align-items: start;
        margin-top: 10px;
        height: 100%;
    }
    .formulario-conte .div-2 form{
        height: 100%;
    }
    .div-2 form input,textarea,select{
        background: transparent;
    }
    .h1-i{
        font-size: 30px;
    }
    .p-i{
        font-size: 15px;
    }
    .div-i{
        width: 100%;
        margin-top: 5px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .div-i-h1{
        font-size: 25px;
    }
    .div-i-2{
        width: 100% !important;
        padding-top: 30px;
        padding-bottom: 10px;
        flex-direction: column;
        gap: 15px;
    }
    .div-i-3{
        width: 100% !important;
        flex-direction: column;
    }
    .div-i-22{
        width: 80%;
    }
    .div-i-33{
        width: 80%;
    }
    .div-i-33 h2 span{
        font-size: 20px;
    }
    .div-i-33 h2 a{
        width: 80%;
        font-size: 12px;
    }
    .div-i-33 img{
        width: 150px;
    }
    .div-i-4 h1{
        font-size: 20px;
    }
    .div-i-4 a{
        padding: 15px;
    }
    .div-i-5{
        width: 90% !important;
        margin-bottom: 15px;
    }
    .div-i-5 h1{
        font-size: 25px;
    }
    .div-i-5 h3{
        font-size: 15px;
    }
    .div-i-5 a{
        margin-top: 10px;
        padding: 10px;
        font-size: 15px;
    }
}
