@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0px;
}

#Informacion{
    transform: translateX(900px);
    transition: transform 0.5s ease-in-out;
}
#menu-ops{
    transform: translateX(900px);
    transition: transform 0.5s ease-in-out;
}
#formulario{
    left: 20%;
    top: 20%;
    transform: translateY(-1000px);
    transition: transform 0.5s ease-in-out;
}
.contenedor-form{
    height: 100vh; 
    width: 40%;
}
.contenedor-img{
    height: 100vh;
    width: 60%;
}
.form{
    width: 60%;
}

@media (max-width: 676px) {
    #formulario {
        width: 95% !important;
        height: 80vh !important;
        left: 2.5%;
        top: 10%;
    }
    .formulario-conte{
        flex-direction: column;
    }
    .formulario-conte .div-1{
        width: 90%;
        height: 25vh;
    }
    .formulario-conte .div-2{
        width: 100%;
        height: 25vh;
        margin-top: 10px;
        height: 100%;
    }
    .div-2 form input,textarea,select{
        background: transparent;
    }
}
