@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0px;
}

#Informacion{
    transform: translateX(500px);
    transition: transform 0.5s ease-in-out;
}
.formulario{
    left: 20%;
    top: 20%;
    transform: translateY(-1000px);
    transition: transform 0.5s ease-in-out;
}
.contenedor-form{
    height: 100vh; 
    width: 40%;
}
.contenedor-img{
    height: 100vh;
    width: 60%;
}
.form{
    width: 60%;
}
@media (max-width: 450px) {
    .contenedor-img{
        width: 0px;
    }
    .contenedor-form{
        width: 100%;
    }
    .form{
        width: 80%;
    }
}