@media (max-width: 676px){
    .header{
        padding-left: 0px;
        padding-right: 0px;
    }
    .logo{
        width: 150px;
    }
    .nav{
        display: none;
    }
    #menu-ops{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ops{
        font-size: 15px;
    }
    .ops .punto{
        width: 5px;
        height: 5px;
        top: 0%;
    }
    .ops img{
        width: 25px;
        height: 25px;
    }
    .menu{
        display: block;
    }
    #Informacion{
        width: 100%;
    }
    .footer{
        width: 100%;
        color: rgb(48, 47, 47);
    }
    .footer .div{
        width: 100%;
        gap: 10px;
    }
    .divs{
        width: 50%;
    }
    .divs span{
        font-size: 15px;
    }
    .divs p{
        font-size: 10px;
    }
    .footer p{
        font-size: 16px;
    }
    .bienvenido{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        font-size: 15px;
    }
    .estos{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .contenedor-productos{
        padding: 0%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .producto-div{
        width: 45%;
        height: 30vh;
    }
    #contenedor-img{
        height: 70%;
    }
    #contenedor-img span{
        font-size: 20px;
        width: 50px;
    }
    #contenedor-img .perfil img{
        width: 30px;
        height: 30px;
    }
    .producto-info{
        height: 30%;
    }
    .div .nm{
        font-size: 15px;
    }
    .div .cate{
        font-size: 10px;
    }
    .div .price{
        font-size: 10px;
        padding: 1px;
    }
    .div .desc{
        font-size: 12px;
        padding: 1px;
    }
    .div form{
        margin-top: 5px;
    }
    .div form button{
        margin-left: 0px;
    }
    .div form p{
        font-size: 10px;
    }
    .div .ops-producto{
        font-size: 15px;
        width: 25px;
        height: 25px;
        padding: 2px;
    }
    .catego{
        padding: 0%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        margin-top: 2px;
    }
    .cat{
        padding: 1.5%;
        padding-left: 15px;
        padding-right: 10px;
        font-size: 10px;
    }
    .h1-productos{
        padding: 0%;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .conte-reco{
        padding: 0%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .conte-reco h1{
        padding: 0%;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    .div-tt{
        padding-left: 10px;
        padding-right: 10px;
    }
    .div-tt h1{
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .div-tt button{
        font-size: 10px;
        padding: 5px;
        width: 100px;
        border-radius: 2px;
    }
    .productos-an{
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        height: auto;
    }
    .conte-productos{
        width: 100%;
    }
    .div-info-an{
        width: 60%;
        height: 100%;
    }
    .div-info-an span{
        font-size: 12px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .div-info-an{
        padding-right: 0px;
        padding-left: 0px;
    }
    .conte-p-an{
        padding-right: 0px;
        padding-left: 0px;
        height: 100%;
        width: 100%;
    }
    .conte-p-an img{
        padding-right: 0px;
        padding-left: 0px;
        width: 40%;
    }
    .succes p{
        text-align: center;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .pr-o{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
        
    }
    .pr-o h1{
        font-size: 15px;
    }
    .pr-o img{
        width: 50%;
    }
    .div-rp{
        width: 100%;
        margin-top: 10px;
    }
    .div-rp h1{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    .div-rp .div-cn{
        width: 80% !important;
        height: 70vh !important;
        flex-direction: column;
        margin-top: 10px;
    }
    .div-cn .div-1{
        width: 100%;
        height: 25vh;
        padding: 0%;
        margin-top: 1pc;
    }
    .div-cn .div-2{
        width: 100%;
    }
    .div-2 form{
        margin-top: 5px;
        height: 20vh;
    }
    .div-2 form button{
        padding: 5px;
    }
    .h1-pedido{
        padding-left: 10px !important;
        font-size: 20px !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .divpedidos{
        width: 100% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        justify-content: center;
        gap: 1px !important;
        height: 100%;
        padding-bottom: 20px;
        display: block !important;
    }
    .divpedido{
        width: 90% !important;
        margin: auto;
        margin-top: 15px;
    }
    .divpedido a{
        border-radius: 2px;
        width: 90%;
    }
}
.productos-an{
    height: 60vh;
}
.pr-o{
    height: 60vh;
}